{:paths ["src" "resources" "pages" "docs" "books"]
 :deps {org.clojure/clojure {:mvn/version "1.12.2"}
        io.github.nextjournal/clerk {:mvn/version "0.18.1150"}
        org.mentat/emmy {:mvn/version "0.32.0"}
        org.mentat/emmy-viewers {:mvn/version "0.3.2"}}
 :aliases
 {:dev  {}
  :run  {:main-opts ["-m" "user"]}
  :build {:exec-fn nextjournal.clerk/build!
          :exec-args {:paths ["pages/*.clj" "pages/**/*.clj"
                              "docs/*.clj" "docs/**/*.clj"
                              "books/**/*.clj"]
                      :index "pages/home.clj"
                      :out-path "public"
                      :book? false}}}}
