{:paths ["src" "resources" "notebooks"]
 :deps {org.clojure/clojure {:mvn/version "1.12.2"}
        io.github.nextjournal/clerk {:mvn/version "0.18.1150"}}
 :aliases
 {:dev  {}
  :run  {:main-opts ["-m" "user"]}
  :build {:exec-fn nextjournal.clerk/build!
          :exec-args {:paths ["notebooks/*.clj"]
                      :index "notebooks/home.clj"
                      :out-path "public"
                      :book? false}}}}
