@import url('/css/press-start-2p.css');

html {
  font-size: 16px;
}

.notebook-viewer {
  align-items: flex-start;
}
.notebook-viewer>div:first-child {
  display: none;
}

.bcd-logo {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem !important;
  margin-bottom: 1rem;
}

.bcd-slogan {
  font-family: 'Press Start 2P', cursive;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}
